version: "3.9"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "80:80"
    environment:
      - MAILERLITE_API_KEY=${MAILERLITE_API_KEY}
    restart: unless-stopped
